@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #212121;
}
.banner{
    background-attachment: fixed;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #333;
    transition: 0.5s;
}
/* .banner.night{
    background: #333;
} */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color : #fff;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}
header .logo span{
    color: aqua;
}
header ul{
    display: flex;
    gap : 40px;
}
header ul li{
    list-style: none;
}
header ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
    color:#fff;
    transition: 0.5s;

}
.content{
    position: relative;
    max-width: 700px;
    z-index: 10;
}
.content h3{
    font-size: 2em;
    color: #fff;
    font-weight: 200;
    transition: 0.5s;
}
.content h2 {
    color: #fff;
    font-size: 5.5em;
    font-weight: 700;
    transition: 0.5s;
}
.content h2 span{
    color: #e91e63;
}
.content p{
    font-size: 1.2em;
    color: #fff;
    margin: 10px 0;
    transition: 0.5s;
}
.content button{
    position: relative;
    background: #2196f3;
    color : #fff;
    border : none;
    outline : none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.content button.chat{
    background: transparent;
    color: #333;
}
.content button.chat ion-icon {
    position: relative;
    top: 5px;
    color:#e91e63;
    font-size: 1.5em;
}
.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
    text-decoration: none;
    font-size: 1.75em;
    color: white;
}
.sci li a:hover{
    color: #2196f3;
}
.dayNight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color:#666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}
.banner.night .dayNight{
    background: #444;
    color: #fff;
}
.dayNight ion-icon:nth-child(2),.banner.night .dayNight ion-icon:nth-child(1){
    display: none;
}
.banner.night .dayNight ion-icon:nth-child(2){
    display: block;
}

.banner.night header .logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a{
    color: #fff;
}
.banner.night .sci li a:hover{
    color: #2196f3;
}
.bg{
    position: absolute;
    right: 0;
    max-width: 500px;
    animation: animateBg 8s ease-in-out infinite;
}
@keyframes animateBg {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
}

.mitrozzLogo{
    position: absolute;
    right: 0px;
    bottom: 0;
    max-height: 75vh;
    animation: animateMitrozzLogo 8s ease-in-out infinite;
}
@keyframes animateMitrozzLogo {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
}

.companies{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    row-gap: 4vw;
    column-gap: 14vh;
}
















.partners{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   padding-top: 10px;
padding-bottom: 40px;    
}
.partners-head{
    padding-top: 50px;
    padding-bottom: 35px;
    width: 90%;
    text-align: start;
    height: auto;
    color: #11FFF1;
    font-size: 35px;
    font-weight: 400;
}
.partners-subdiv{
   width: 90%;
   display: flex;
   justify-content: space-between;
}
.partners-note{
   width: 40%;
   color: white;
   font-weight: bolder;
   font-size: calc(25px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}








.allServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 80px;
}
.services-head{
    padding-top: 50px;
    padding-bottom: 35px;
    width: 90%;
    text-align: start;
    height: auto;
    background-image: linear-gradient(to right, #F89B29 0%, #FF0F7B 10%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 400;

}
.services{
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.allServices .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .allServices .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .allServices .content .heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .allServices .content .para {
    line-height: 1.5;
  }
  
  .allServices .content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .allServices .card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .allServices .card:hover::before {
    width: 100%;
  }
  
  .allServices .card:hover {
    box-shadow: none;
  }
  
  .allServices .card:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .allServices .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .allServices .content .btn:active {
    box-shadow: none;
  }



  .footer{
    margin:30px;
    left: 6.1vw;
    position: relative;
    width: 90%;
    display: flex;
    color: white;
    font-size: 2em;
    font-weight: 800;
    justify-content: center;
    gap: 45vw;
  }
  
  #btn-message {
    --text-color: rgb(255, 255, 255);
    --bg-color-sup: #5e5e5e;
    --bg-color: #2b2b2b;
    --bg-hover-color: #161616;
    --online-status: #00da00;
    --font-size: 16px;
    --btn-transition: all 0.2s ease-out;
  }
  
  .button-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 var(--font-size) Helvetica Neue, sans-serif;
    box-shadow: 0 0 2.17382px rgba(0,0,0,.049),0 1.75px 6.01034px rgba(0,0,0,.07),0 3.63px 14.4706px rgba(0,0,0,.091),0 22px 48px rgba(0,0,0,.14);
    background-color: var(--bg-color);
    border-radius: 68px;
    cursor: pointer;
    padding: 6px 10px 6px 6px;
    width: fit-content;
    height: 40px;
    border: 0;
    overflow: hidden;
    position: relative;
    transition: var(--btn-transition);
  }
  
  .button-message:hover {
    height: 56px;
    padding: 8px 20px 8px 8px;
    background-color: var(--bg-hover-color);
    transition: var(--btn-transition);
  }
  
  .button-message:active {
    transform: scale(0.99);
  }
  
  .content-avatar {
    width: 30px;
    height: 30px;
    margin: 0;
    transition: var(--btn-transition);
    position: relative;
  }
  
  .button-message:hover .content-avatar {
    width: 40px;
    height: 40px;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-color-sup);
  }
  
  .user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .status-user {
    position: absolute;
    width: 6px;
    height: 6px;
    right: 1px;
    bottom: 1px;
    border-radius: 50%;
    outline: solid 2px var(--bg-color);
    background-color: var(--online-status);
    transition: var(--btn-transition);
    animation: active-status 2s ease-in-out infinite;
  }
  
  .button-message:hover .status-user {
    width: 10px;
    height: 10px;
    right: 1px;
    bottom: 1px;
    outline: solid 3px var(--bg-hover-color);
  }
  
  .notice-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;
    text-align: initial;
    color: var(--text-color);
  }
  
  .username {
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: var(--btn-transition);
  }
  
  .user-id {
    font-size: 12px;
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: var(--btn-transition);
  }
  
  .lable-message {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scaleY(1);
    transition: var(--btn-transition);
  }
  
  .button-message:hover .username {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
  }
  
  .button-message:hover .user-id {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
  }
  
  .button-message:hover .lable-message {
    height: 0;
    transform: scaleY(0);
    transition: var(--btn-transition);
  }
  
  .lable-message, .username {
    font-weight: 600;
  }
  
  .number-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    background-color: var(--bg-color-sup);
    border-radius: 20px;
  }
  
  /*==============================================*/
  @keyframes active-status {
    0% {
      background-color: var(--online-status);
    }
  
    33.33% {
      background-color: #93e200;
    }
  
    66.33% {
      background-color: #93e200;
    }
  
    100% {
      background-color: var(--online-status);
    }
  }


  .others{
    display: flex;
    justify-content: space-evenly;
    padding : 25px;
    background-color: #212121;
  }
  .others .card-container {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 10px;
  }
  
  .others .card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .others .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .others .card .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .others .card .img-content h1 {
    width: 50px;
    height: 50px;
    fill: #fff;
    color: white;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .others .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #e8e8e8;
    padding: 20px 24px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .others .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .others .card:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .others .card:hover .img-content {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(7px);
  }
  
  .others .card:hover .img-content svg {
    fill: transparent;
  }
  

   hr{
    width: 90%;
    height: 1px;
    position: relative;
    left:10vw;
    display: none;
   }


































  /* === removing default button style ===*/

  .card-p{
    font-size: 2.8em;
    font-weight: bolder;
  }